.node {
	width: rem(300);
	height: rem(360);
	cursor: pointer;
	background: var(--mantine-color-gray-5);
	border-radius: var(--mantine-radius-md);
	opacity: 0.8;
}

.node.node_selected {
	outline: 2px solid var(--mantine-color-orange-6);
}
.node__header {
	padding: var(--mantine-spacing-sm) var(--mantine-spacing-sm);
	/* height: rem(36); */
}

.group {
	padding: rem(10);
	margin: rem(10);
	border: 1px solid var(--mantine-color-gray-4);
	border-radius: var(--mantine-radius-md);
}

.codeEditor{
  flex-grow:var(--tabs-panel-grow)
}
