.box {
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-orange-7);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: var(--mantine-radius-sm);
}

.box:hover {
  background-color: var(--mantine-color-orange-9);
  transform: scale(1.05);
}
