.root {
	&[data-variant='danger'] {
		background-color: var(--mantine-color-red-9);
		color: var(--mantine-color-red-0);
	}

	&[data-variant='danger-outline'] {
		color: var(--mantine-color-red-5);
		border-color: var(--mantine-color-red-5);
		background-color: transparent;
	}
}
